  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
    --strong-cyan:hsl(172,67%,45%);

    --very-dark-cyan:hsl(183,100%,15%);
    --dark-grayish-cyan:hsl(186,14%,43%);
    --grayish-cyan:hsl(184,14%,56%);
    --light-grayish-cyan:hsl(185,41%,84%);
    --very-light-grayish-cyan:hsl(189,41%,97%);
    --white:hsl(0,0%,100%);
    --error: hsl(0, 100%, 67%);
    --error2:#b58271;


    --xs:12px;
    --lg:24px;
    --xl:34px;
    --md:22px;
    --sm:16px;

    /* font-size: 6.25%; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: 15% 85%;
    place-items: center;

    height: 100vh;
    width: 100vw;

    font-family: 'Space Mono', monospace;
    font-size: var(--lg);

    background-color: var(--light-grayish-cyan);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-self: start center;
    
    height: fit-content;
    width: 100%;
    max-width: 600px;
    padding: 28px;
    
    background-color: var(--white);
    border-radius: 28px 28px 0 0 ;
}
.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    margin-bottom: 28px;
}
.down{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--very-dark-cyan);
    border-radius: 16px;
    padding: 32px 24px 24px;
    width: 100%;
    height: 300px;
}

.billBox, .peopleBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tipBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tipBox__withoutTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eachTipBox{
    display: inline-block;

    width: 45%;
    height: 50px;
    margin: 6px;
    
}
.radioLabels{
    display: inline-block;

    width: 100%;
    height: 100%;

    background-color: var(--very-dark-cyan);
    line-height: 50px;
    text-align: center;
    border-radius: 6px;
    color: var(--very-light-grayish-cyan);
    font-size: var(--md);
}
.radioLabels:hover{
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
}
.shortInput{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.customTipInput{
    position: relative;

    opacity: 1;
    width: 100%;
    height: 100%;
    padding-right: 20px;

    border: none;
    border-radius: 6px;
    background-color: var(--very-light-grayish-cyan);

    color: var(--very-dark-cyan);
    font-family:  'Space Mono', monospace;
    font-size: var(--lg);
    text-align: end;

}
.customTipInput::placeholder{
    color: var(--dark-grayish-cyan);
    font-family:  'Space Mono', monospace;
    font-size: var(--lg);
    text-align: end;
}
.customTipInput:focus{
    outline: 2px solid var(--strong-cyan);
}
.customTipInput:hover{
    cursor: pointer;
}
.shortInput:checked + .radioLabels {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}
.customTipLabel{
    background-color: var(--very-light-grayish-cyan);
    color: var(--grayish-cyan);
}
.largeInput{
    width: 100%;
    height: 50px;
    padding: 0 16px;
    
    border: none;
    border-radius: 6px;
    background-color: var(--very-light-grayish-cyan);


    text-align: end;
    font-family:  'Space Mono', monospace;
    font-size: var(--lg);
    color: var(--very-dark-cyan);
}
.largeInput::placeholder{
    color: var(--grayish-cyan);
}
.largeInput:focus{
    outline: 2px solid var(--strong-cyan);
}
.largeInput--error{
    outline: 2px solid orange
}
.textLabels{
    font-size: var(--sm);
    color: var(--dark-grayish-cyan);
}
.resetBtn{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);

    font-family:  'Space Mono', monospace;
    font-size: var(--md);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    transition: transform 0.3s;
    transform: scale(1);
}
.resetBtn:hover{
    transform: scale(1.02);
    background-color: var(--light-grayish-cyan);
    cursor: pointer;
}
.downTexts{
    display: flex;
}
.down__tipTotal, .down__Total{
    display: flex;
    justify-content: space-between;


    margin-bottom: 24px;
}

.tipTotal__title{
    color: var(--very-light-grayish-cyan);
    font-size: var(--sm);
}
.tipTotal__subtitle{
    color: var(--grayish-cyan);
    font-size: var(--xs);
}
.price{
    color: var(--strong-cyan);
    font-size: var(--xl);
    line-height: 48px;
}
.inputError{
    outline: 2px solid var(--error);
}
.peopleError{
    color: var(--error);
}
.titles{
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
}
.mainTitles{
    margin-bottom: 12px;
}
.tipBox, .billBox, .peopleBox{
    margin-bottom: 20px;
}
.inactive{
    display: none;
}
@media (min-width:1000px){
    :root{
        --xl:44px;
    }
    body{
        grid-template-rows: 25% 75%;
    }
    main{
        flex-direction: row;
        height: 500px;
        border-radius: 28px;
        max-width: 1000px;
        padding: 40px;
    }
    .logo{
        margin-top: 60px;
    }
    .up{
        margin-bottom: 0;
        margin-right: 60px;
        height: 100%;
        justify-content: space-around;
    }
    .down{
        height: 100%;
        padding: 40px;
    }
}